<h3>Pages</h3><br>

<table class="table table-striped tablePages">
    <?php foreach($data['books'] as $book_data) { ?>

        <tr>
            <td><b>
                <a href="/admin/books/view/<?=$book_data['alias']?>"><?=$book_data['title']?></a></b>
            </td>
            <td align="right">
                <a href="/admin/books/edit/<?=$book_data['id']?>">
                    <button class="btn btn-sm btn-primary">Edit</button>
                </a>
                <a href="/admin/books/delete/<?=$book_data['id']?>" onclick="return confirmDelete();">
                    <button class="btn btn-sm btn-warning">Delete</button>
                </a>
            </td>
        </tr>


    <?php } ?>
</table>

<di>
    <a href="/admin/books/add/">
        <button class="btn btn-sm btn-success">New book</button>
    </a>
</di>